DISCORD_TOKEN=
GUILD_ID=
ROLE_CHANNEL_ID=
LOG_CHANNEL_ID=
ACCESS_LOG_CHANNEL_ID=
DIPLOMACY_LOG_CHANNEL_ID=
WEEKLY_REPORT_CHANNEL_ID=
CHRONICLE_CHANNEL_ID=
ANNOUNCEMENT_CHANNEL_ID=
ANNIVERSARY_CHANNEL_ID=
HONOR_BOARD_CHANNEL_ID=
LEAVE_ROLE_NAME=В отпуске
DATABASE_PATH=fcl_management.db
